/*----------------------------------------------------------------------------------------------------------------*\
    BASIC RESET - please use a better one in production
\*----------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

.pageContainer {
	max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}

.addressContainer {
	margin-bottom: 50px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    MAP
\*----------------------------------------------------------------------------------------------------------------*/
.embedContainer {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
            
.embedContainer .googleMap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}